* {
	margin: 0px;
}

li {
	list-style-type: none;
}

.my-form {
	border: 1px solid red;
	border-radius: 25px; 
	text-align: center;
	margin: 100px 400px; 
	width: 500px;
	padding: 10px;
}

.my-form__form--item {
	padding: 10px;
	margin-left: 10px;
}

.my-form__form--item input{
	margin: 15px 20px;
	width: 150px;
}

.entrydiv {
  text-align: center;
}

.my-form__form--item p {
	color: red;
}